{% extends 'base.html' %}
{% load static %}



{% block content %}


    <!-- ***** Breadcrumb Area Start ***** -->
    <div class="breadcumb-area bg-img bg-gradient-overlay"
         style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <h2 class="title">News</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcumb--con">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Breadcrumb Area End ***** -->

    <!-- ***** Blog Area Start ***** -->
    <section class="dento-blog-area section-padding-100-00-0-0 clearfix">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>The Latest News</h2>
                        <div class="line"></div>
                    </div>
                </div>
            </div>


            <!--Include jQuery-->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>


            <table class="table table-condensed table-hovered table-bordered">
                <thead class="thead-light">
                <tr>

                    <th>Title</th>

                    <th>Description</th>
                </tr>
                </thead>
                <tbody id="tableBody">

                </tbody>

            </table>
            </body>

            <script>
                // Clear the table body.
                //ajax call to load XML and parse it
                $.ajax({
                    type: 'GET',
                    url: 'static/website/xml/books.xml',           // The file path.
                    dataType: 'xml',
                    success: function (xml) {
                        //find all book tags, loop them and append to table body
                        $(xml).find('book').each(function () {

                            // Append new data to the tbody element.
                            $('#tableBody').append(
                                '<tr>' +
                                '<td>' +
                                $(this).find('title').text() + '</td> ' +

                                '<td>' +
                                $(this).find('description').text() + '</td> ' +
                                '</tr>');
                        });
                    }
                });

            </script>


        </div>
    </section>
    <!-- ***** Blog Area End ***** -->

    <!-- ***** Blog Area End ***** -->



{% endblock %}